@import '../../styles.scss';

.btn {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: $light;
    transition: all .3s ease;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.btn-disabled {
    background-color: $dark-grey;
    cursor: not-allowed;
}

.btn-blue {
    background-color: $dark-blue;
}

.btn-blue:hover {
    background-color: $blue;
}

.btn-green {
    background-color: $dark-green;
}

.btn-green:hover {
    background-color: $green;
}

.btn-red {
    background-color: $dark-red;
}

.btn-red:hover {
    background-color: $red;
}

.btn:disabled {
    background-color: $dark-grey;
    height: 20px;
    width: fit-content;
    font-weight: 700;
    padding: 0 10px;
    margin: auto;
}

.btn:disabled:hover {
    background-color: $dark-grey;
}

.sm-btn-green {
    background-color: $dark-green;
    height: 20px;
    width: fit-content;
    font-weight: 700;
    padding: 0 10px;
    margin: auto;
    transition: all .3s;
}

.sm-btn-green:hover {
    background-color: $green;
}

.sm-btn-red {
    background-color: $dark-red;
    height: 20px;
    width: fit-content;
    font-weight: 700;
    padding: 0 10px;
    margin: auto;
    transition: all .3s ease;
}

.sm-btn-red:hover {
    background-color: $red;
}

.sm-btn-blue {
    background-color: $dark-blue;
    height: 20px;
    width: fit-content;
    font-weight: 700;
    padding: 0 10px;
    margin: auto;
    transition: all .3s ease;
}

.sm-btn-blue:hover {
    background-color: $blue;
    color: $light;
}

.sm-btn-acao {
    text-transform: capitalize;
    font-size: 8px;
}

.input-qtd-item {
    background: $grey;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 12px;
    transition: all .3s ease;
    width: 60px;
    text-align: center;
    padding: 0;
}

.input-qtd-item:focus {
    box-shadow: 0 0 0 1px $blue, 0 0 0 4px $light-blue;
}

.invalid-entry-input {
    border: 1px $red;
    background-color: $grey-red;
}

input, select {
	width: 100%;
	background: $grey;
	border-radius: 3px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
    font-size: 14px;
}

input:focus, select:focus {
	box-shadow: 0 0 0 1px $blue, 0 0 0 4px $light-blue;
}

select, select > option {
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;
}

select > option:hover {
    background-color: $dark-grey !important;
}