<app-frame>
    <app-page-header tituloPagina="Editar item"></app-page-header>
    <article class="panel is-info" style="max-width: 50%;">
        <p class="panel-heading">
            Dados do Item
        </p>
        <div class="panel-block">
            <div class="columns">
                <div class="column label-column" style="max-width: 150px;">
                    <label>Descrição:</label>
                </div>
                <div class="column">
                    <input class="input uppercase-field">
                </div>
            </div>
        </div>
    </article>
</app-frame>
