@import '../../../styles.scss';

app-content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

app-content.normal-view {
    width: calc(100% - $sidebar-width);
}

app-content.maximized {
    width: calc(100% - 80px);
}

app-content.responsive {
    width: 100%;
}