<div class="middle-frame">
    <div *ngFor="let pair of menuPairs" class="columns">
      <div class="column">
        <a>
          <div class="columns panel-menu">
            <div class="column panel-menu-icon">
              <i [ngClass]="pair._left._iconClass" class="bx"></i>
            </div>
            <div class="column panel-menu-content">
              <span>{{ pair._left._menuTitle }}</span>
              <p>
                {{ pair._left._menuDescription }}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a>
          <div class="columns panel-menu">
            <div class="column panel-menu-icon">
              <i [ngClass]="pair._right._iconClass" class="bx"></i>
            </div>
            <div class="column panel-menu-content">
              <span>{{ pair._right._menuTitle }}</span>
              <p>{{ pair._right._menuDescription }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
