<div class="middle-frame">
    <div class="columns">
      <div class="column">
        <a>
          <div class="columns panel-menu">
            <div class="column panel-menu-icon">
              <i class="bx bxs-inbox"></i>
            </div>
            <div class="column panel-menu-content">
              <span>Pedidos</span>
              <p>
                Fazer pedidos e consultar pedidos de material realizados na
                instituição.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a>
          <div class="columns panel-menu">
            <div class="column panel-menu-icon">
              <i class="bx bxs-component"></i>
            </div>
            <div class="column panel-menu-content">
              <span>Itens</span>
              <p>Consultar itens em estoque no almoxarifado do Campus</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
