@import '../../../styles.scss';

a:visited,
a {
    color: $link-color;
}

a:hover {
    color: whitesmoke;
}

.footer-div {
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: $sidebar-color;
    color: whitesmoke;
}

.footer-div p {
    font-size: 9px;
}

.footer-div .flex-div {
    position: absolute;
    top: 0;
    width: fit-content;
}

.footer-div h1 {
    font-size: 26px;
    font-weight: 700;
}

.footer-div h2 {
    font-size: 12px;
    font-weight: 700;
    margin: 15px 0 10px 0;
}

.footer-div .container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contato {
    background-color: $sidebar-hover-color;
    //text-align: right;
    padding: 15px;
    margin: -15px;
    border-radius: 3px;
}

#logo-footer {
    height: 35px;
    object-fit: contain;
}

.container {
    width: 70%;
}

.columns {
    margin: 0;
}

.column {
    padding-top: 60px;
}