<div class="footer-div">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img id="logo-footer" src="../../../assets/Logo IFFar Uruguaiana horizontal (white).png" alt="logo" />
                <p>Instituto Federal de Educação, Ciência e Tecnologia Farroupilha - Campus Avançado Uruguaiana | CNPJ: 10.662.072/0006-62</p>
            </div>
            <div class="column">
                <h2>Endereço</h2>
                <p>Rua Monteiro Lobato, nº 4442</p>
                <p>Bairro Cabo Luiz Quevedo</p>
                <p>Uruguaiana/RS</p>
            </div>
            <div class="column">
                <h2>Sobre</h2>
                <p>Umox - Gestão de Almoxarifado</p>
                <p>Desenvolvido por Douglas dos Reis</p>
                <p>Comissão de Desenv. de Software</p>
            </div>
            <div class="column">
                <h2>Links</h2>
                <p><a routerLink="/login">Acesso ao sistema</a></p>
                <p><a routerLink="/register">Solicitar cadastro</a></p>
                <p><a target="_blank" href="https://iffarroupilha.edu.br/uruguaiana">iffarroupilha.edu.br/uruguaiana</a></p>
            </div>
            <div class="column">
                <div class="contato">
                    <h2>Contato</h2>
                    <p>Gabinete:  <a target="_blank" href="mailto:gabinete.ug@iffar.edu.br">gabinete.ug@iffar.edu.br</a></p>
                    <p>Comissão de Desenv.: <a target="_blank" href="mailto:sistemas.ug@iffar.edu.br">sistemas.ug@iffar.edu.br</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
