<app-frame>
  <app-page-header tituloPagina="Consultar pedidos"></app-page-header>
  <div class="columns">
    <div class="column">
      <article class="panel is-primary">
        <p class="panel-heading">Consultas</p>
            <div class="panel-block">
              <div class="columns">
                <div class="column label-column">
                  <label for="txtBuscarPorItem">Por item:</label>
                </div>
                <div class="column" style="min-width: 40%;">
                  <p class="control has-icons-left">
                    <input
                      id="txtBuscarPorItem"
                      [(ngModel)]="strBuscarPorItem"
                      (ngModelChange)="strBuscarPorItem = $event.toUpperCase()"
                      (keyup)="onKeyUpTxtBuscarPorItem()"
                      class="input is-primary"
                      type="text"
                      placeholder="Buscar por item"
                    />
                    <span class="icon is-left">
                      <i class="bx bx-search" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
                <div class="column label-column">
                  <label for="txtBuscarPorUsuario">Por usuário:</label>
                </div>
                <div class="column" style="min-width: 40%;">
                  <p class="control has-icons-left">
                    <input
                      id="txtBuscarPorUsuario"
                      [ngModel]="strBuscarPorUsuario"
                      (ngModelChange)="strBuscarPorUsuario = $event.toUpperCase()"
                      (keyup)="onKeyUpTxtBuscarPorUsuario()"
                      class="input is-primary"
                      type="text"
                      placeholder="Buscar por usuário"
                    />
                    <span class="icon is-left">
                      <i class="bx bx-search" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
      </article>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <table class="generic rounded blue">
        <thead>
          <tr>
            <th style="width: 4%; text-align: center">ID</th>
            <th style="width: 40%">FINALIDADE</th>
            <th style="width: 20%">USUÁRIO</th>
            <th style="width: 8%">DT. PEDIDO</th>
            <th style="width: 8%">DT. ATEND.</th>
            <th style="width: 15%">STATUS</th>
            <th style="width: 5%; text-align: center">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let dadosPedido of dadosPedidos">
            <tr>
              <td style="text-align: center">{{ dadosPedido.id_pedido }}</td>
              <td>{{ dadosPedido.finalidade_pedido }}</td>
              <td>{{ dadosPedido.nome_usuario }}</td>
              <td>{{ dadosPedido.data_pedido }}</td>
              <td>{{ dadosPedido.data_atendimento }}</td>
              <td>{{ dadosPedido.status_pedido }}</td>
              <td style="text-align: center;">
                <button
                  *ngIf="detalharPedido != dadosPedido.id_pedido"
                  (click)="mostrarDetalhesPedido(dadosPedido.id_pedido)"
                  class="button is-small is-success"
                >
                <span class="icon is-small">
                  <i class="bx bx-show icon"></i>
                </span>
                </button>
                <button
                  *ngIf="detalharPedido == dadosPedido.id_pedido"
                  (click)="ocultarDetalhesPedido()"
                  class="button is-small is-danger"
                >
                <span class="icon is-small">
                  <i class="bx bx-hide icon"></i>
                </span>
                </button>
              </td>
            </tr>
            <tr
              *ngIf="detalharPedido == dadosPedido.id_pedido"
              class="tr-detalhe"
            >
              <td colspan="7">
                <table class="inner-table rounded grey">
                  <thead>
                    <tr>
                      <th width="8%" style="text-align: center">ID</th>
                      <th width="40%" style="text-align: left">DESCRIÇÃO</th>
                      <th width="18%" style="text-align: left">MARCA</th>
                      <th width="10%" style="text-align: left">UN. MEDIDA</th>
                      <th width="8%" style="text-align: center">ESTOQUE</th>
                      <th width="8%" style="text-align: center">QTD. SOLIC.</th>
                      <th width="8%" style="text-align: center">QTD. ATEND.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dadosPedido.itens">
                      <td style="text-align: center">{{ item.id_item }}</td>
                      <td>{{ item.descricao_item }}</td>
                      <td>{{ item.marca_item }}</td>
                      <td>{{ item.un_medida_item }}</td>
                      <td style="text-align: center">
                        {{ item.estoque_item }}
                      </td>
                      <td style="text-align: center">
                        {{ item.qtd_solicitada }}
                      </td>
                      <td style="text-align: center">
                        {{ item.qtd_atendida }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</app-frame>
