@import '../../../styles.scss';
@import '../../styles/tables.scss';
@import '../../styles/inputs.scss';

.input, .control span {
    font-size: 13.5px;
}

.label-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}