<app-frame>
    <div class="columns">
        <div class="column">
            <table class="generic rounded blue">
                <thead>
                    <tr>
                        <th style="width: 5%; text-align: center;">ID</th>
                        <th style="width: 40%;">DESCRIÇÃO</th>
                        <th style="width: 25%;">NATUREZA</th>
                        <th style="width: 15%;">MARCA</th>
                        <th style="width: 10%;">UN. MEDIDA</th>
                        <th style="width: 5%; text-align: center;">ESTOQUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dadosItens">
                        <td style="width: 5%; text-align: center;">{{item.id_item}}</td>
                        <td>{{item.descricao_item}}</td>
                        <td>{{item.natureza_item}}</td>
                        <td>{{item.marca_item}}</td>
                        <td>{{item.un_medida_item}}</td>
                        <td style="width: 5%; text-align: center;">{{item.estoque_item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-frame>
