<app-frame>
  <app-page-header tituloPagina="Gerenciar estoque"></app-page-header>
  
  <a
    routerLink="/admin/itens/cadastrarItem"
    id="btnNovoItem"
    class="button is-success"
  >
    <span class="icon is-small">
      <i class="bx bx-plus"></i>
    </span>
    <span>Criar novo item</span>
  </a>
  <div class="columns">
    <a routerLink="/admin/itens/cadastrarItem" id="btnNovoItemCircle" class="circle-button">+</a>
    <div class="column">
      <article class="panel is-primary">
        <p class="panel-heading">Consultar estoque</p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input
              [(ngModel)]="searchText"
              (keyup)="onKeyUpTxtConsulta()"
              class="input uppercase-field is-primary"
              type="text"
              placeholder="Buscar no estoque"
            />
            <span class="icon is-left">
              <i class="bx bx-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div class="panel-block">
          <div class="column">
            <div class="select">
              <select id="selNaturezas" class="input uppercase-field is-primary" [(ngModel)]="natureza" (change)="onSelNaturezasChanged()">
                <option value="0" selected hidden>-- FILTRAR POR NATUREZA --</option>
                <option value="0">TODAS</option>
                <option *ngFor="let natureza of listaNaturezas" [value]="natureza.id_natureza">{{ natureza.natureza }}</option>
              </select>
            </div>
          </div>
        </div>
      </article>
      <div class="table-container">
        <table class="generic rounded blue">
          <thead>
            <tr>
              <th style="width: 5%; text-align: center">ID</th>
              <th style="width: 35%">DESCRIÇÃO</th>
              <th style="width: 25%">NATUREZA</th>
              <th style="width: 12%">MARCA</th>
              <th style="width: 8%">UN. MEDIDA</th>
              <th style="width: 8%; text-align: center">ESTOQUE</th>
              <th style="width: 7%; text-align: center">AÇÕES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dadosItens">
              <td style="width: 5%; text-align: center">{{ item.id_item }}</td>
              <td>{{ item.descricao_item }}</td>
              <td>{{ item.natureza_item }}</td>
              <td>{{ item.marca_item }}</td>
              <td>{{ item.un_medida_item }}</td>
              <td style="width: 5%; text-align: center">
                {{ item.estoque_item }}
              </td>
              <td style="width: 5%; text-align: center">
                <a
                  [routerLink]="['/admin/itens/editarItem', item.id_item]"
                  class="button is-info is-small"
                >
                  <span class="icon is-small">
                    <i class="bx bx-edit"></i>
                  </span>
                  <span>Editar</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-notification
    [class]="notification.msgClass"
    [message]="notification.message"
  ></app-notification>
</app-frame>
