<div [class.is-active]="mostrarModal" class="modal">
    <div (click)="cancelButtonClicked()" class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ tituloModal }}</p>
        <button (click)="cancelButtonClicked()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>{{ msgModal }}</p>
      </section>
      <footer class="modal-card-foot">
        <button (click)="confirmButtonClicked()" class="button is-success">Confirmar</button>
        <button (click)="cancelButtonClicked()" class="button">Cancelar</button>
      </footer>
    </div>
</div>