@import '../../../styles.scss';
@import '../../styles/inputs.scss';

.titulo-modal {
    margin-bottom: 20px;
}

.modal > .modal-background {
    opacity: 80%;
}

.modal > .modal-wrapper {
    opacity: 100%;
}

#modal-alerta .flex-div .icon,
#modal-sucesso .flex-div .icon {
    width: 15%;
    height: 100%;
    padding: 5px;
}

#modal-alerta .flex-div .icon {
    color: $orange;
}

#modal-sucesso .flex-div .icon {
    color: $green;
}

#modal-alerta .flex-div p,
#modal-sucesso .flex-div p {
    width: 85%;
    height: 100px;
}

.modal-background {
    width: 110%;
    height: 110%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -51%);
    background-color: $dark;
    z-index: 1;
    animation: show-fundo-modal;
    animation-duration: 800ms;
}

.modal-wrapper {
    width: 500px;
    height: 300px;
    background-color: $light;
    border-radius: 10px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    animation: show-modal;
    animation-duration: 800ms;
    z-index: 1000;
}

.modal-wrapper .flex-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-wrapper h3 {
    font-size: 22px;
}

.modal-wrapper p {
    font-size: 14px;
    padding-top: 5px;
}

.modal-wrapper .buttons-div {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 200px;
}

@keyframes show-fundo-modal {
    from {opacity: 0%;}
    to {opacity: 80%;}
}

@keyframes show-modal {
    from {opacity: 0%;}
    to {opacity: 100%;}
}