@import '../../../styles.scss';

.content-div {
    position: absolute;
    
    width: 100%;
    height: 100vh;
    padding: 81px 38px;
    background-color: whitesmoke;
}

@media (max-width: 950px) {
    .content-div {
        padding: 81px 15px;
    }
}