<app-frame>
    <app-page-header tituloPagina="Meu cadastro"></app-page-header>
    <article class="panel is-info form">
        <p class="panel-heading">
            Dados do Usuário
        </p>
        <form (ngSubmit)="submit()" [formGroup]="editarUsuarioForm" #formDir="ngForm">
        <div class="panel-block">
            <div class="columns">
                <div class="column label-column" style="max-width: 180px;">
                    <label>Nome:</label>
                </div>
                <div class="column">
                    <input class="input" formControlName="nome_usuario" ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="panel-block">
            <div class="columns">
                <div class="column label-column" style="max-width: 180px;">
                    <label>Email:</label>
                </div>
                <div class="column">
                    <input [class.is-danger]="email_usuario.invalid" class="input lowercase-field" formControlName="email_usuario">
                    <div *ngIf="email_usuario.invalid">
                        <p *ngIf="email_usuario.errors?.['required']" class="help is-danger">* Email não informado</p>
                        <p *ngIf="email_usuario.errors?.['email']" class="help is-danger">* Email inválido</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-block">
            <div class="columns">
                <div class="column flex-div-align-right">
                    <div class="field is-grouped">
                        <p class="control">
                            <a routerLink="/admin/usuarios" class="button is-danger is-outlined" style="width: 100%;">Cancelar</a>
                        </p>
                        <p class="control">
                            <input type="submit" class="button is-outlined is-success" [disabled]="!btnSalvarEnabled" style="width: 100%;" value="Salvar Alterações">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </article>
</app-frame>
