<router-outlet></router-outlet>
<nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="../assets/umox-logo.png" alt="logo">
      </span>
      <div class="text header-text">
        <span class="app-name">Umox</span>
        <span class="app-description">Gestão de Almoxarifado</span>
      </div>
    </div>
    <i class='bx bx-chevron-right toggle'></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-home' ></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-home' ></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
