@import '../../../styles.scss';

.page-header {
    margin: 0 auto 30px;
}

.page-header h1.page-title {
    font-size: 40px;
    font-weight: 700;
    margin: auto 0 5px 0;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-left: 2px;
}

.breadcrumbs span {
    margin: auto 10px;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: $primary;
}

.breadcrumbs a:hover {
    color: $link;
}

