<nav class="sidebar" [ngClass]=" sidebarMode ">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../assets/umox-logo.png" alt="logo">
        </span>
        <div class="text header-text">
          <span class="app-name">Umox</span>
          <span class="app-description">Gestão de Almoxarifado</span>
        </div>
      </div>
      <i class='bx bx-menu toggle' (click)="onToggleSidebarClicked()" ></i>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <!-- <li class="search-box">
          <i class='bx bx-search icon' ></i>
          <input type="search" placeholder="Buscar...">
        </li> -->
        <ul class="menu-links">
          <li class="nav-link">
            <a routerLink="/dashboard">
              <i class='bx bx-home icon' ></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>
          <li id="Operações" class="divider"><span class="divider-title">Operações</span><span class="toggled-text">--</span></li>
          <li class="nav-link">
            <a routerLink="/operacoes/pedidos/novoPedido">
              <i class='bx bxs-plus-square icon'></i>
              <span class="text nav-text">Novo Pedido</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/operacoes/pedidos/meusPedidos">
              <i class='bx bxs-user-detail icon'></i>
              <span class="text nav-text">Meus pedidos</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/operacoes/pedidos/consultarPedidos">
              <i class='bx bxs-inbox icon'></i>
              <span class="text nav-text">Consultar pedidos</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/operacoes/itens/consultarEstoque">
              <i class='bx bx-spreadsheet icon'></i>
              <span class="text nav-text">Consultar estoque</span>
            </a>
          </li>
          <li id="Operações" class="divider"><span class="divider-title">Administração</span><span class="toggled-text">--</span></li>
          <li class="nav-link">
            <a routerLink="/admin/pedidos/atendimento">
              <i class='bx bx-package icon'></i>
              <span class="text nav-text">Atender Pedido</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/admin/itens/gerenciarEstoque">
              <i class='bx bx-clipboard icon'></i>
              <span class="text nav-text">Gerenciar estoque</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/admin/usuarios">
              <i class='bx bxs-user-account icon'></i>
              <span class="text nav-text">Gerenciar Usuários</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="bottom-content">
        <li>
          <a (click)="onLogoutButtonClicked()">
            <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
          </a>
        </li>
        <li class="mode">
          <div class="moon-sun">
            <i class="bx bx-moon icon dark-mode-icon"></i>
            <i class="bx bx-sun icon light-mode-icon"></i>
          </div>
          <span class="mode-text">Dark Mode</span>
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>
    </div>
  </nav>
  