<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{ nomeUsuario }}
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" routerLink="/meuCadastro">
            Meu cadastro
          </a>
          <a class="navbar-item">
            Alterar senha
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Reportar problema/sugestão
          </a>
        </div>
      </div>
    </div>
</nav>