<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{ nomeUsuario }}
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" routerLink="/meuCadastro">
            Meu cadastro
          </a>
          <a class="navbar-item" (click)="onAlterarSenhaButtonClicked()">
            Alterar senha
          </a>
          <hr class="navbar-divider">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7dHIgR5JEzof-QAre09hpDc_Kurbo3lPAqryoRzno4tDBHw/viewform?usp=sf_link" class="navbar-item">
            Reportar problema ou sugestão
          </a>
        </div>
      </div>
    </div>
</nav>