/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// brand colors
$dark-blue: #1371d5;
$violet: #6040ef;
$body-color: #e4e9f7;
$sidebar-color: #fff;
$primary-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #707070;
$divider-text-color: #a8a8a8;

// App layout
$sidebar-width: 280px;

// transition
$trans02: all 0.2s ease;
$trans03: all 0.3s ease;
$trans04: all 0.4s ease;
$trans05: all 0.5s ease;

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$primary: $dark-blue;
$link: $violet;


@import '../node_modules/bulma/bulma.sass';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
