<app-frame>
  <app-page-header tituloPagina="Home"></app-page-header>
  <div class="card">
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
        </div>
      </div>
  </div>
  <app-notification [class]="notification.msgClass" [message]="notification.message"></app-notification>
</app-frame>
