@import '../../../styles.scss';

.top-dashboard-card-icon.is-primary {
    background-color: $primary;
}

.top-dashboard-card-icon.is-success {
    background-color: $success;
}

.top-dashboard-card-icon.is-warning {
    background-color: $warning;
}

.top-dashboard-card-icon.is-danger {
    background-color: $danger;
}

.top-dashboard-card > .card-content {
    padding: 0;
}

.card-content {
    height: 100%;
}

.card-content > .columns {
    width: 100%;
    height: 100%;
    margin: 0;
}

.top-dashboard-card {
    height: 100px;
}

.top-dashboard-card-icon {
    display: flex;
    font-size: 50px;
    text-align: center;
    color: $light;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.top-dashboard-card-icon i {
    margin: auto;
    padding: 0;
}

.column.top-dashboard-card-icon {
    max-width: 40%;
}

.column.top-dashboard-card-content {
    text-align: center;
}

.column.top-dashboard-card-content p {
    font-size: 11px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: end;
    vertical-align: bottom;
}

.column.top-dashboard-card-content h1 {
    font-size: 30px;
    font-weight: 600;
}

.card-content.grafico {
    height: 400px;
}

.grafico {
    display: flex;
    justify-content: center;
}

canvas {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

table {
    font-size: 11px;
    color: $text-color;
}

table tr {
    border-bottom: 1px dashed $dark-grey;
}

table tr:hover {
    background-color: $grey;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}