<app-frame>
  <app-page-header tituloPagina="Dashboard"></app-page-header>
  <div class="columns">
    <div class="column">
      <div class="card top-dashboard-card">
        <div class="card-content">
          <div class="columns">
            <div class="column top-dashboard-card-icon is-primary">
              <i class='bx bxs-inbox'></i>
            </div>
            <div class="column top-dashboard-card-content">
              <p>Total de pedidos</p>
              <h1>{{ totalPedidos }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card top-dashboard-card">
        <div class="card-content">
          <div class="columns">
            <div class="column top-dashboard-card-icon is-success">
              <i class='bx bx-basket'></i>
            </div>
            <div class="column top-dashboard-card-content">
              <p>Atendidos</p>
              <h1>{{ pedidosAtendidos }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card top-dashboard-card">
        <div class="card-content">
          <div class="columns">
            <div class="column top-dashboard-card-icon is-warning">
              <i class='bx bxs-hourglass-top'></i>
            </div>
            <div class="column top-dashboard-card-content">
              <p>Aguardando atendimento</p>
              <h1>{{ pedidosAguardandoAtendimento }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card top-dashboard-card">
        <div class="card-content">
          <div class="columns">
            <div class="column top-dashboard-card-icon is-danger">
              <i class='bx bx-no-entry'></i>
            </div>
            <div class="column top-dashboard-card-content">
              <p>Não atendidos</p>
              <h1>{{ pedidosNaoAtendidos }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content grafico">
          <canvas #pedidosUlt12Meses></canvas>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content grafico"> 
        <div class="columns">
        <div class="column" style="padding: 0;">
          <div>
            <canvas #incidNaturezasPedidos></canvas>
          </div>
        </div>  
        <div class="column">

        </div>  
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2>Composição do estoque</h2>
          <table>
            <thead>
              <tr>
                <th  style="width: 95%;">Natureza</th>
                <th style="width: 5%; text-align: center;">Registros</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comp of composicaoEstoque">
                <td>{{ comp.natureza }}</td>
                <td style="text-align: center;">{{ comp.incidencias }}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  </div>
  <app-notification [class]="notification.msgClass" [message]="notification.message"></app-notification>
</app-frame>
