@import '../../../styles.scss';

$corLabel1: rgb(54, 162, 235);
$corLabel2: rgb(255, 99, 132);
$corLabel3: rgb(255, 205, 86);
$corLabel4: rgb(125, 184, 48);
$corLabel5: rgb(114, 194, 207);
$corLabel6: rgb(151, 62, 214);

.top-dashboard-card .is-primary {
    background-color: $primary;
}

.top-dashboard-card .is-success {
    background-color: $success;
}

.top-dashboard-card .is-warning {
    background-color: $orange;
}

.top-dashboard-card .is-danger {
    background-color: $danger;
}

.top-dashboard-card > .card-content {
    padding: 0;
}

.card, .top-dashboard-card {
    border-radius: 3px;
}

.card-content {
    height: 100%;
    
}

.card-content > .columns {
    width: 100%;
    height: 100%;
    margin: 0;
}

.top-dashboard-card {
    height: 100px;
    color: $light;
}

.top-dashboard-card-icon {
    display: flex;
    font-size: 50px;
    text-align: center;
    color: $light;
}

.top-dashboard-card-icon i {
    margin: auto;
    padding: 0;
}

.column.top-dashboard-card-icon {
    max-width: 40%;
}

.column.top-dashboard-card-content {
    text-align: center;
}

.column.top-dashboard-card-content p {
    font-size: 11px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: end;
    vertical-align: bottom;
}

.column.top-dashboard-card-content h1 {
    font-size: 30px;
    font-weight: 600;
}

.panel-block {
    height: 100%;
    display: flex;
    justify-content: center;
}

.grafico {
    display: flex;
    justify-content: center;
}

canvas {
    max-height: 350px;
}

article {
    min-height: 316px;
    background-color: $light;
}

table {
    width: 100%;
    font-size: 11px;
    color: $text-color;
    margin: 15px;
}

table tr {
    border-bottom: 1px dashed $dark-grey;
}

table td {
    vertical-align: middle;
}

table tr:hover {
    background-color: $grey;
}

#tb-composicao-estoque tr:nth-child(even) {
    background-color: $light-blue;
}


h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.cor-label {
    width: 50px;
    height: 15px;
}

#column-labels-compos-pedidos {
    display: flex;
    justify-content: center;
}

#tb-labels-naturezas-mais-solicitadas {
    font-size: 10px;
    margin: auto;
}

#tb-labels-naturezas-mais-solicitadas tr {
    height: 30px;
}

#tb-labels-naturezas-mais-solicitadas td {
    padding-left: 10px;
}

#cor-label1 { background-color: $corLabel1 }

#cor-label2 { background-color: $corLabel2 }

#cor-label3 { background-color: $corLabel3 }

#cor-label4 { background-color: $corLabel4 }

#cor-label5 { background-color: $corLabel5 }

#cor-label6 { background-color: $corLabel6 }
